/* parte superior*/

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header h2 {
    font-size: 1.5em;
    font-weight: 700;
    align-self: center;
}

/*dropdowns*/

.ubicacion{
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
}

.custom-dropdown .dropdown-toggle {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc !important;
    text-align: left; /* Asegura el texto alineado a la izquierda */
    width: 80%; /* Hace que ocupe todo el contenedor */
    position: relative;
}
.custom-dropdown .dropdown-toggle:after{
    position: absolute;
    right: 1rem;
    top: 1rem;
} 
/* Opciones dentro del dropdown */

.custom-dropdown .dropdown-menu {
    width: 75%; /* Igual ancho que el toggle */
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc !important;
}
  
.custom-dropdown .dropdown-item {
    color: #333;
}
  
.custom-dropdown .dropdown-item:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
}

/* calendario para selección de fecha*/

.date, .horario {
    font-weight: 700;
    margin-top: 10px; /* Espaciado para separar del dropdown */
    color: black; /* Color del texto */
    text-align: left;
}

.datepicker{
    text-align: left;
/*     margin-left: 5px; */
}

.custom-datepicker {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.custom-datepicker:hover,.custom-datepicker:active{
    outline-color: #ccc!important;
    outline-width: 0 !important;
}
.react-datepicker-wrapper{
    padding-left: calc(var(--bs-gutter-x)* .5) !important;
    padding-right: calc(var(--bs-gutter-x)* .5) !important;

}
/* selección de horas*/

.horas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.etapa {
    text-align: left;
}
  
.etapa-titulo {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.hours{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-hora {
    padding: 10px 10px;
    border: 1px solid #7a21b2;
    background-color: #7a21b2;
    color: var(--primary-bg-text-color);
    cursor: pointer;
    border-radius: 5px;
}
.btn-hora:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-bg-text-color);
}

.btn-hora.selected {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}
  
.btn-hora:disabled {
    background-color: #e0e0e0;
    color: #888;
    cursor: not-allowed;
}

/*cantidad patrimonios a visitar*/

.button-group {
    display: flex;
    gap: 12px; 
    justify-content: end;                /* Espacio fijo entre botones */
}
  
.button-group .btn {
    margin: 0 8px;
    width: 40px;                /* Ancho fijo para los botones */
    height: 40px;             /* Espaciado entre los botones */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los estilos */
}
  
.button-group .btn:hover {
    background-color: var(--primary-color);  /* Efecto al pasar el cursor */
    border-color: var(--primary-color); 
}

.toolbar-cantidad{
    display: flex;
    justify-content: right;   /* Centra horizontalmente */
    align-items: flex-end;        /* Centra verticalmente */
    width: 81%;
    margin: 0 auto; 
}

.button-group button{
    border-color: var(--primary-color);
    color: black;
}

.next-button {
    display: flex;
    justify-content: center;    /* Centra el botón siguiente */
    margin-top: 20px;           /* Espaciado superior */
    
}

.next-button button.btn-next{
    background-color: #7a21b2;
    border: 1px solid #7a21b2;
    color: white;
    text-align: center;
    width: 200px;
    height: 48px;
    font-weight: 600;
    margin: 0 auto;
}
.next-button button.btn-next:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}