.slick-dots{
    list-style: none!important;
    display: flex!important;
    justify-content: center!important;
    margin: 8px 0 0;
    padding: 0 20px 0 0;
}
.slick-dots li{
    display: inline-block;
}
.slick-dots li button{
    border: none;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    background-color: #ccc;
    margin: 0 3px;
}
.slick-dots li.slick-active button{
    background-color: var(--primary-color);
}

/* text overlay */

.carousel-slide {
    position: relative;           /* Necesario para posicionar el overlay */
    width: 100%;
    height: 188px;                /* Ajusta según tu diseño */
}
  
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;            /* Asegura que la imagen cubra el contenedor */
    border-radius: 12px;          /* Bordes redondeados (opcional) */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0.5rem);
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Oscurece la imagen para mejorar el contraste */
    color: white;                   /* Color del texto */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 20px;
    border-radius: 16px;           /* Bordes redondeados para overlay */
}

.overlay h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.overlay p {
    font-size: 12px;
    margin: 0;
}

.overlay a {
    color: white;                   /* Color del enlace */
    text-decoration: underline;
}