.qr-container {
    border: 10px var(--primary-color) solid
}
.qr-container path {
    stroke: var(--primary-color); 
  }
  .qr-scanner p{
    font-size: 14px;
  }
  .qr-scanner h3{
    font-size: 22px;
    font-weight: 600;
  }