.footer{
    background-color: var(--primary-color);
    color: #FFF;
    z-index: 9;
    max-width: 430px;
    width: 100vw;
    
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footer a.menu-item{
    padding-top: 2px;
}
.icon-qr-button {
    background-color: #FFFFFF;
    border: 2px solid #D490FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.625em;
}
.footer small{
    font-size: 0.625em;
    display: block;
    margin-top: 5px;
}