.btn-outline-secondary.heritage{
    border-color: #ccc;
    background-color: #fff;
    justify-content: center!important;
    color: black;
}
.btn-outline-secondary.routes{
    justify-content: center!important;
}
.chart{
    border: 1px solid #ccc;

}
