.wrapper{
    position: relative;
    z-index: 1;  
}
#root .wrapper:last-of-type{
    padding-bottom: 120px;
}
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
    width: 100%!important;
    max-width: 100%!important;
    /* text-align: center!important; */
}
